version: '3.8'
services:
  frontend:
    build: ./frontend
    image: laaouafifatiha/todo-frontend-enhanced:latest
    container_name: task_web_container
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://backend:5000
    depends_on:
      - backend
  backend:
    build: ./backend
    image: laaouafifatiha/todo-backend-enhanced:latest
    container_name: task_api_container
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/tododb
      - FLASK_ENV=development
    depends_on:
      - mongo
  mongo:
    image: mongo:6
    container_name: task_db_container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:
